name: Autograding Tests 

on:
  push  # Runs on every push to evaluate student submissions

jobs:
  run-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout Student Submission
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    
    - name: Autograde
      id: autograde
      uses: webtech-network/webcode-autograder@v16
      with:
        html-weight: 30
        css-weight: 40
        js-weight: 30
        timeout: 5
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        AUTOGRADE_RESULTS: "${{steps.test-merge-a.outputs.result}}"
      with:
        runners: autograde

